fastapi
uvicorn[standard]
pydantic
pydantic-settings

sqlalchemy
alembic
psycopg2-binary
asyncpg          # Postgres driver
pymongo          # MongoDB client
motor
python-multipart # file uploads

# Parsing libraries we'll use later
beautifulsoup4
lxml
markdown
pdfplumber
orjson

# Optional but useful
python-dotenv
loguru

streamlit
requests
